@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    text-align: center;
    background-color: #2a2a2a;
    color: white;
    font-family: 'Indie Flower', cursive;
}

header {
    background-color: dark;
}

h1 {
    font-weight: bold;
}

footer {
    background-color: #222222;
}

#pulse {
    padding: 10;
}
